version: "3.9"

services:
  backend:
    container_name: wishgifthub-backend
    image: jlebiannic/wishgifthub-backend:latest
    env_file:
      - /home/debian/config/wishgifthub/.env
    networks:
      - wishgifthub-net
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    container_name: wishgifthub-frontend
    image: jlebiannic/wishgifthub-frontend:latest
    depends_on:
      - backend
    networks:
      - wishgifthub-net
    ports:
      - "80:80"
    restart: unless-stopped

networks:
  wishgifthub-net:
    driver: bridge
