SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-eu-north-1.pooler.supabase.com:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres.isnnhqqjgnyissqiotjr
SPRING_DATASOURCE_PASSWORD=qQmM4n8r3Y4wLHSs
WISHGIFTHUB_JWT_SECRET=5a7f8c3d9e2b1a6f4c8e7d3a9b2c5e1f8a3d7c2b6e4a9d1f5c8b3e7a2d6c9f4b
WISHGIFTHUB_JWT_EXPIRATION=86400000
